@import url('./root.css');
@import url('./reset.css');
@import url('./navbar.css');
@import url('./animations.css');

section#home {
  height: calc(100vh - 80px);
}

section:not(#home) {
  margin-bottom: 10rem;
}

.wrapper {
  width: 95%;
  margin-inline: auto;
  max-width: 1280px;
}

.background-image {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url('https://gateway.pinata.cloud/ipfs/QmbE2N6RK2w5o3qkd8HsLYdqpX8NjAvNWU3cdqJapfC9GH');
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.background-image>div {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
}

.intro {
  width: 100%;
  padding-top: 14rem;
}

.name {
  color: rgb(var(--clr-accent));
  margin: .5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.name>h1 {
  animation-name: appear-from-left;
  animation-duration: 800ms;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-direction: forwards;
}

.name>.cursor {
  background-color: rgb(var(--clr-accent));
  pointer-events: none;
  width: 2px;
  height: 30px;
}

.description {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 800ms;
  animation-delay: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.description-title {
  color: rgb(var(--clr-primary));
  margin-bottom: 2rem;
}

.description>p {
  color: rgba(var(--clr-primary), .8);
  margin: .5rem;
  max-width: 50%;
}

.heading {
  text-decoration: underline;
}

.content {
  background-color: rgba(var(--clr-primary), .65);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 5rem;
}

.progress-element {
  --progress: 0%;
  margin-block: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.progress-legend {
  font-size: var(--fs-s);
  color: rgb(var(--clr-secondary));
  display: flex;
  gap: .8rem;
  align-items: center;
  min-width: max-content;
  width: 20%;
  white-space: wrap;
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background-color: rgba(var(--clr-secondary), .2);
  overflow: hidden;
}

.progress-bar-fill {
  width: 0;
  background-color: rgb(var(--clr-accent));
  height: 100%;
  transition: width 450ms ease;
}


.progress-bar-fill.filled {
  width: var(--progress);
}

.experience-element {
  margin-block: 4rem;
}

.experience-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-block: .2rem;
}

.experience-header>legend {
  color: rgb(var(--clr-secondary));
}

.experience-header>.date {
  color: rgba(var(--clr-secondary), .6);
}

.experience-place {
  color: rgba(var(--clr-secondary), .6);
}

.experience-description {
  margin-top: .5rem;
  color: rgba(var(--clr-secondary), .85);
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 1em;
  width: fit-content;
  margin-block: 1.8em;
}

.contact-card:hover>p {
  text-decoration: underline;
}

.contact-card>img {
  width: 20px;
  aspect-ratio: 1;
}

@media (max-width: 650px) {
  .intro {
    text-align: center;
    padding-top: 12rem;
  }

  .name {
    justify-content: center;
  }

  .name::before {
    opacity: 0;
  }

  .description>p {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .content {
    padding: 2rem;
  }
}

@media (max-width: 550px) {
  .progress-element {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .content {
    padding: 1rem;
  }

  .intro {
    padding-top: 8rem;
  }
}