html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
  background-color: rgb(var(--clr-primary));
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


::-webkit-scrollbar,
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  overflow: hidden;
  background: rgba(var(--clr-secondary), 1);
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background: rgba(var(--clr-primary), .2);
  border-radius: 20px;
  border: 2px solid rgba(var(--clr-secondary), 1);
}
